<rarity-pips name="rarity_pips"
             class="rarity_pips_root">
    <div class="hc_rarity_bkg"></div>
    <div name="pip icons"
         class="rarity rarity_pip_container tint bright"></div>
</rarity-pips>
<link href="coui://uiresources/components/rarity_pips/css/rarity_pips.css"
      type="text/css"
      rel="stylesheet" />
<script src="coui://uiresources/components/rarity_pips/js/rarity_pips.js"></script>
<script src="coui://uiresources/components/rarity_pips/data/rarity_pips.data"></script>
<link href="common://uiresources/dlc_rarity_pips/css/dlc_rarity_pips.css"
      type="text/css"
      rel="stylesheet">