<elemental-damagetype name="element component"
                      class="elemental_icon_fill_size">
    <div name="circle frame"
         class="damagetype damagetype_frame frame"></div>
    <div name="elemental icon"
         class="damagetype damagetype_icon elemental_icon_padding"></div>
</elemental-damagetype>
<link href='coui://uiresources/components/element_damage_type/css/element_damage_type.css'
      type='text/css'
      rel='stylesheet' />
<script src='coui://uiresources/components/element_damage_type/js/element_damage_type.js'></script>
<script src='coui://uiresources/components/element_damage_type/data/element_damage_type.data'></script>